* {
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .single {
  border: 5px solid #010101;
  background-color: #f5f5f5;
  position: fixed;
  top: 30%;
  right: 0.1%;
  width: 50%;
}
main .single img {
  max-width: 350px;
}
main .wrap {
  width: 50%;
}
main .wrap .wrapper__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-color: #fff;
  border: 2px solid #000;
  gap: 10px;
  margin-bottom: 5px;
}
main .wrap .wrapper__card .wrapper__card__top {
  max-width: 200px;
}
main .wrap .wrapper__card .wrapper__card__top img {
  width: 100%;
}